body {
    background: none repeat scroll 0 0 #dedede;
    font-family: Orbitron, Arial, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#clock {
    font-size: 20px;
}
span {
    margin-left: 30px;
}
h1 {
    margin-left: 100px;
    font-size: 50px;
}
button {
    background: black;
    color: cornsilk;
    height: 35px;
    width: 10%;
    font-size: 20px;
 }

    button:hover {
        color: black;
        background: cornsilk;
    }